@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

@layer base {
  :root {
    --background: 220 18% 12%;
    --foreground: 210 40% 98%;
    --border: 220 15% 22%;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Orbitron", sans-serif !important;
  }
}
